.myIdeas button {
    margin-left: 0;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    outline: none;
    font-weight: 400;
    font-size: 14px
}

.myIdeas .active {
    background: #999;
}
